@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
.homePage {
	background:#96F8FF;
}
.container {
	width: 960px;
	margin: 15px auto;
}
.header {
	background: #46ABB3;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.headeraboutme {
	background: #46ABB3;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #B36734;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFB27D;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.contentAboutMe {
	background: #FFB27D;
	margin: 0px;
	float: left;
	padding; 19:
	width: 100%;
	text-align: left;
}
.footer {
	background: #B36734;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
img {
  max-width: 100%
}

	
